<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Candidates</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Agregar</a>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Fecha Nacimiento</th>
					<th>Domicilo</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="candidate:${candidates}">
					<td th:text="${candidate.id}"></td>
					<td th:text="${candidate.firstName}"></td>
					<td th:text="${candidate.lastName}"></td>
					<td th:text="${candidate.birth}"></td>
					<td th:text="${candidate.address}"></td>
					<td th:text="${candidate.phone}"></td>
					<td th:text="${candidate.email}"></td>
					<td>
						<a th:href="@{/edit/}+${candidate.id}" class="btn btn-warning"> Editar</a>
						<a th:onclick="deleteCandidate( [[ ${ candidate.id } ]] )" class="btn btn-danger"> Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>

</body>

</html>